/*----- Button -----*/
.border-btn,
.bg-btn {
  padding: 1.3rem 1.7rem;
  font-size: var(--size-2xl);
  line-height: 1.187;
  @media #{$xl} {
    font-size: 1.3rem;
  } 
}

.border-btn {
  &:hover {
    background-color: var(--bg-color7);
    color: var(--text-color14);
  }
}

.bg-btn {
  border: 0.1rem solid transparent;
  &:hover {
    color: var(--text-color11);
    border-color: var(--border-2);
    background-color: transparent;
  }
}

.sidebar-open-btn {
  width: 3rem;
  .sidebar-open-btn-line {
    height: 0.2rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    margin: 0.7rem 0;
    &:nth-child(2) {
      transition: all 0.3s ease-in-out;
      width: 2.5rem;
    }
    &:nth-child(3) {
      transition: all 0.3s ease-in-out;
      width: 2rem;
    }
  }
  &:hover {
    .sidebar-open-btn-line:nth-child(2) {
      width: 100%;
    }
    .sidebar-open-btn-line:nth-child(3) {
      width: 100%;
    }
  }
}

#scroll-up-btn {
  opacity: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  background-color: var(--bg-color8);
  width: 3.5rem;
  height: 3.5rem;
}
