/* 
==================================
Font Family
==================================
*/
.primary-font-700 {
  font-family: var(--primary-font-700);
}

.primary-font-600 {
  font-family: var(--primary-font-600);
}

.primary-font-500 {
  font-family: var(--primary-font-500);
}

.primary-font-400 {
  font-family: var(--primary-font-400);
}

/* 
==================================
Font Size
==================================
*/
.size-9xl {
  font-size: var(--size-9xl);
  line-height: 1.4;
}

.size-8xl {
  font-size: var(--size-8xl);
  line-height: 1.281;
}

.size-7xl {
  font-size: var(--size-7xl);
  line-height: 1.2;
}

.size-6xl {
  font-size: var(--size-6xl);
  line-height: 1.5;
}

.size-5xl {
  font-size: var(--size-5xl);
  line-height: 1.166;
}

.size-4xl {
  font-size: var(--size-4xl);
  line-height: 1.5;
}

.size-3xl {
  font-size: var(--size-3xl);
  line-height: 1.5;
}

.l-h-3xl-24 {
  line-height: 1.2;
}

.size-2xl {
  font-size: var(--size-2xl);
  line-height: 1.5;
}

.l-h-2xl-30 {
  line-height: 1.875;
}

.l-h-2xl-19 {
  line-height: 1.187;
}

.size-xl {
  font-size: var(--size-xl);
  line-height: 1.357;
}

.l-h-xl-22 {
  line-height: 1.571;
}

.l-h-xl-21 {
  line-height: 1.5;
}

.l-h-xl-16 {
  line-height: 1.142;
}

.size-lg {
  font-size: var(--size-lg);
  line-height: 1.5;
}

.l-h-lg-19 {
  line-height: 1.583;
}

.size-md {
  font-size: var(--size-md);
  line-height: 1.5;
}

.size-sm {
  font-size: var(--size-sm);
  line-height: 1.555;
}
