/* 
======================================================
Home Page Style CSS
======================================================
*/
/*---- Start Post Section ----*/
@media #{$xl} {
  .home-post-title {
    margin-bottom: 2rem;
  }
}

.home-post-title {
  @media #{$xsm} {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 670px) {
    display: block !important;
  }
  .post-select {
    gap: 1rem;
    @media only screen and (max-width: 670px) {
      margin-top: 2rem;
    }
    @media only screen and (max-width: 375px) {
      flex-direction: column;
      align-items: flex-end !important;
    }
  }
}

.dropdown-wrap {
  .dropdown-toggle {
    font-family: var(--primary-font-500);
    font-size: var(--size-3xl);
    padding-right: 2rem;
    color: var(--text-color11);
    @media #{$xl} {
      font-size: var(--size-2xl);
    }
    &::after {
      position: absolute;
      border: 0;
      border-bottom: 2px solid var(--border-2);
      border-right: 2px solid var(--border-2);
      height: 1.2rem;
      width: 1.2rem;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      margin-top: -0.4rem;
      @media #{$xl} {
        height: 0.9rem;
        width: 0.9rem;
      }
    }
  }
  .dropdown-menu {
    border: 0;
    padding: 0;
    z-index: 99;
    .dropdown-item {
      font-family: var(--primary-font-500);
      font-size: var(--size-2xl);
      color: var(--primary-color);
      padding: 0.5rem 1rem;
      @media #{$xl} {
        font-size: var(--size-xl);
      }
    }
  }
}
